# Ignore artifacts:
build/
dist/
node_modules/
.vite/
*.log
coverage/
test-report/
test-results.json
public/
docs/

# Ignore IDE/tooling configs:
.idea/
.vscode/
.github/

# Ignore Agent specific folders
**/.agents/**
**/.gemini/**
AGENTS.md
GEMINI.md

# Ignore screenshots
screenshots/
