.region-card {
  align-items: center;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  padding: 10px;
  width: 160px;
}
