.app-header {
  background-color: #24252a;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 7px 0;
  text-align: center;
  user-select: none;
  width: 100%;

  transition:
    color 0.2s ease,
    background-color 0.2s ease;
}

.app-header:hover {
  color: #a1a6ff;
}

.app-header:active {
  transform: translateY(1px);
}
