* {
  scrollbar-width: none;
}

body {
  background-color: #000;
  box-sizing: border-box;
  color: #e4e6eb;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  margin: 0;
}

.container {
  margin: 0 auto;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.card {
  background: #24252a;
  border-radius: 8px;
  box-shadow: 0 12px 32px #000000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 140px;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    border-color 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card.selected {
  transform: translateY(-3px);
}

.card .image {
  border-radius: 0;
  height: 120px;
  object-fit: cover;
  object-position: top;
}

.overlay {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: #000000b3;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.btn {
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 4px 0;
  padding: 0.5em 1em;
  width: auto;

  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #3399ff;
  border-color: #66b2ff;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-success:hover {
  background-color: #3ddc84;
  border-color: #66ffb3;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #ff4757;
  border-color: #ff6b81;
}

p {
  color: #fff;
  font-weight: 700;
}
